
<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="aboveMenu">Pronóstico</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-button color="accent" routerLink="/promedio_movil">
      Promedio móvil
    </button>
    <button mat-button color="accent" routerLink="/suavizamiento">
      Suavizamiento de datos
    </button>
    <button mat-button color="accent" routerLink="/regre_lineal">
      Regresion lineal
    </button>
    <button mat-button color="accent" routerLink="/regre_cuadratica">
      Regresion cuadrática
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Simulación</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-button color="accent" routerLink="/montecarlo">
      Simulación de Montecarlo
    </button>
    <button mat-button color="accent" routerLink="/linea_espera">
      Simulación de inventario
    </button>
    <button mat-button color="accent" routerLink="/inventario">
      Simulación de colas
    </button>
  </mat-menu>
  <div class="spacer">
      
  </div>
  <button mat-button routerLink="/">
    <h2>Modelamiento y simulación</h2>
  </button>
</mat-toolbar>
<div class="contenido">
      <router-outlet></router-outlet>
    </div>