
<body>

    <div class="section-container content-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-6">
                        <img src="./assets/imagenes/perfil.jpg" class="img-responsive" > 
                    </div>
                    <div>
                        <h1>Luis Delgado Bravo</h1>
                        <p>Proyecto de Modelamiento y Simulacion</p>
                        <p>6to "TI"</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    